<div class="container">
  <% if current_user.partner? %>
    <%= render partial: 'dashboard/lockbox_partner', object: @lockbox_partner, as: :lockbox_partner %>
  <% else %>
    <div id="dashboard-lockbox-partners">
      <h2>Welcome, <%= current_user.name %>!</h2>
      <%= link_to 'File a support request', support_requests_new_path, class: 'btn btn-primary view-half' %>
      <%= link_to 'Create new lockbox partner', new_lockbox_partner_path, class: 'btn btn-secondary view-half float-right' %>
      <div class="horizontal-rule"></div>
      <p>
        <strong>Current View:</strong>  
        <%= render 'shared/url_switching_select', options: [
          ['Lockbox Partners', root_path],
          ['Pending Support Requests', support_requests_path]
        ], selected_value: root_path %>
      </p>
      <%= render partial: 'dashboard/admin_dash', collection: @lockbox_partners, as: :lockbox_partner%>
    </div>
  <% end %>
</div>
