<tr data-id="<%= note.id %>">
  <td><%= note.created_at_formatted %></td>
  <td><%= note.author %></td>
  <td><%= note.text %></td>
  <td class="font-weight-bold">
    <% if note.user && note.user == current_user %>
      <a href="#" class="edit-note-button">
        Edit <%= fa_icon "arrow-right" %>
      </a>
    <% end %>
  </td>
</tr>
