<h2>Admin Dashboard</h2>
<div class="horizontal-rule"></div>
<h3>Invite fund users</h3>
<%= form_with model: User.new, url: admin_users_path, class: 'form', id: 'new-user-form' do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role, options_for_select([User::ADMIN]), {}, class: 'form-control' %>
  </div>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>
<div class="horizontal-rule"></div>
<h3>Manage users</h3>
<div class="admin-dashboard-users-wrapper">
  <%= render partial: 'users', locals: { users: @users } %>
</div>
