<html>
  <head></head>
  <body>
    <p>
      <%= @lockbox_partner.name %> lockbox has been reconciled and no further action needs to be taken.
      To check other Lockbox details, sign in at <a href="<%= @lockbox_url %>"><%= @lockbox_url %></a> or, if you have questions, email <a href="mailto:<%= @lockbox_help_email %>"><%= @lockbox_help_email %></a>.
    </p>
  </body>
</html>
