<div class="lockbox-partner-header">
  <strong><%= lockbox_partner.city %></strong>
  <% if current_user.admin? %>
    <%= render partial: 'lockbox_partners/back_to_dashboard', locals: {:alignment => 'right'} %>
  <% end %>
  <h2>
    <%= lockbox_partner.name %>
    <span class="float-right">
      <%= lockbox_partner.balance %>
    </span>
  </h2>
  <div class="lockbox-partner-info">
    <p class="address">
      <% if lockbox_partner.street_address %>
        <%= lockbox_partner.street_address %>
        <br>
      <% end %>
      <%= lockbox_partner.city %>, <%= lockbox_partner.state %> <%= lockbox_partner.zip_code %>
    </p>
    <p class="phone_number">
      <%= lockbox_partner.phone_number %>
    </p>
  </div>
  <div class="horizontal-rule"></div>
</div>
