<div class="container">
  <%= form_for @lockbox_partner, html: { class: 'form' } do |f| %>
    <% if @lockbox_partner.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= @lockbox_partner.errors.count %> error prohibited this partner from being saved:
        </h2>
        <ul>
          <% @lockbox_partner.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2>Update Contact Information</h2>
    <%= render partial: "lockbox_partner_inputs", locals: { f: f } %>
    <%= f.submit 'Update Contact Information', class: 'btn btn-primary' %>
  <% end %>
</div>

<%= javascript_pack_tag 'forms', 'data-turbolinks-track': 'reload' %>
