<%= render partial: 'header', locals: { lockbox_partner: @lockbox_partner } %>
<% if current_user.admin? %>
  <%= render partial: 'lockbox_partners/admin_alerts', locals: { lockbox_partner: @lockbox_partner } %>
  <div class="horizontal-rule"></div>
<% end %>
<div class="support-request-container">
  <div class="lockbox-activity">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Activity</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Client</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @historical_actions.each do |action| %>
          <tr class=<%= action.status %>>
            <td><%= action.eff_date_formatted %></td>
            <td><%= action.action_type.humanize %></td>
            <td><%= action.status %></td>
            <td>
              <% if action.credit? %>
                +
              <% elsif action.debit? %>
                -
              <% end %>
              <%= action.amount %>
            </td>
            <td><%= action.support_request&.name_or_alias %></td>
            <td>
              <% if action.support_request %>
                <% path = lockbox_partner_support_request_path(action.lockbox_partner, action.support_request) %>
                <%= link_to path do %>
                  View details
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @historical_actions, list_classes: %w(pagination justify-content-center) %>
  </div>
</div>
