<%= form_with model: @support_request, url: path, class: 'form support-request-form', remote: true do |f| %>
  <h2>
    <%= form_action %> support request
  </h2>
  <%= f.fields_for :lockbox_action, @support_request.lockbox_action || empty_lockbox_action do |la| %>
    <div class="form-group">
      <%= la.label :eff_date, 'Pick-up Date' %>
      <%= la.date_field :eff_date, class: 'form-control', required: true %>
    </div>
  <% end %>
  <% if @lockbox_partner.nil? %>
    <div class="form-group">
      <%= f.label :lockbox_partner %>
      <%= f.select :lockbox_partner_id, options_for_select(active_lockbox_partner_select_options), {}, class: 'form-control', required: true %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name_or_alias, 'Client Alias' %>
    <small class="form-text text-muted">Please do not use legal name</small>
    <%= f.text_field :name_or_alias, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :client_ref_id, 'Client Reference ID' %>
    <%= f.text_field :client_ref_id, class: 'form-control', required: true %>
  </div>
  <%= f.fields_for :lockbox_action, @support_request.lockbox_action || empty_lockbox_action do |la| %>
    <div class="form-group">
      <%= la.label :amount_breakdown %>
      <div id="lockbox_transactions">
        <%= la.fields_for :lockbox_transactions do |lt| %>
          <%= render 'lockbox_transaction_fields', f: lt %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add more values +', la, :lockbox_transactions  %>
        </div>
      </div>
    </div>
  <% end %>
  <legend id="total">Total: $0.00</legend>
  <div class="form-group">
    <%= f.label :urgency_flag %>
    <%= f.text_field :urgency_flag, class: 'form-control' %>
  </div>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>

<%= javascript_pack_tag 'forms', 'data-turbolinks-track': 'reload' %>
