<div class="container">
  <div id="support-requests-index">
    <h2>Welcome, <%= current_user.name %>!</h2>
    <%= link_to 'File a support request', support_requests_new_path, class: 'btn btn-primary view-half' %>
    <%= link_to 'Create new lockbox partner', new_lockbox_partner_path, class: 'btn btn-secondary view-half float-right' %>
    <div class="horizontal-rule"></div>
    <p>
    <strong>Current View:</strong>
    <%= render 'shared/url_switching_select', options: [
      ['Lockbox Partners', root_path],
      ['Pending Support Requests', support_requests_path]
    ], selected_value: support_requests_path %>
    </p>
    <table class="table" id="supportRequestsTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
          <th>Partner</th>
          <th>Amount</th>
          <th>Coordinator</th>
        </tr>
      </thead>
      <tbody>
        <% @support_requests.each do |support_request| %>
          <tr data-support-request-url="<%= lockbox_partner_support_request_path(support_request.lockbox_partner, support_request) %>">
            <td><%= support_request.created_at.to_date %></td>
            <td><%= support_request.status.capitalize %></td>
            <td><%= support_request.lockbox_partner.name %></td>
            <td class="blue-amount">$<%= support_request.amount.to_s %></td>
            <td>Coordinator Name</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
