<%= render partial: 'lockbox_partners/header', locals: { lockbox_partner: @lockbox_partner } %>
<%= form_for :add_cash, html: { class: "form add-cash-form" }, url: lockbox_partner_add_cash_path do |f| %>
  <h2>Add Cash to Lockbox</h2>
  <p>Complete this form when you have put the check in the mail</p>
  <div class="form-group">
    <%= f.label "Cash Added" %>
    <%= f.text_field :amount,
      type: "number",
      step: "0.01",
      class: "form-control",
      required: true %>
  </div>
  <div class="form-group">
    <%= f.label "(Optional) Tracking number for checks/Confirmation number for online processing" %>
    <%= f.text_field :tracking_number,
      type: "text",
      class: "form-control",
      required: false %>
  </div>
  <div class="form-group">
    <%= f.label "(Optional) Tracking delivery method for checks (FedEx, UPS, Venmo, etc)" %>
    <%= f.text_field :delivery_method,
      type: "text",
      class: "form-control",
      required: false %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<%= javascript_pack_tag 'forms', 'data-turbolinks-track': 'reload' %>
