<div class="container">
  <%= form_for :add_cash, class: "form", url: lockbox_partner_add_cash_path do |f| %>
    <div class="form-group">
      <%= f.label "Cash Added" %>
      <%= f.text_field :amount, type: "number", step: "0.01", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Partner Clinic" %>
      <%= f.select :lockbox_partner_id, options_for_select(lockbox_partner_select_options, @lockbox_partner.id), {}, class: 'form-control' %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
