<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email,
        autofocus: true,
        autocomplete: "email",
        class: 'form-control',
        required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <a title="Forgot your password?" href="<%= new_password_path(resource_name) %>"
        class="forgot">Forgot your password?</a>

    <div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        </div>
      <% end -%>
    </div>

    <%= f.submit "Log in", class: 'btn btn-primary btn-lg w-100' %>
  </fieldset>
<% end %>
