<div class="secondary-nav">
  <div class='secondary-nav-tabs'>
    <% if current_user.admin? %>
      <div class="secondary-tab active-tab">
        <%= link_to 'All activity', lockbox_partner_path(@lockbox_partner) %>
      </div>
      <div class="secondary-tab">
        <%= link_to 'File a support request', new_lockbox_partner_support_request_path(@lockbox_partner) %>
      </div>
      <div class="secondary-tab">
        <%= link_to 'Add cash to lockbox', new_lockbox_partner_add_cash_path(@lockbox_partner) %>
      </div>
      <div class="secondary-tab">
        <%= link_to 'Manage lockbox partner', new_lockbox_partner_user_path(@lockbox_partner) %>
      </div>
    <% else %>
      <div class="secondary-tab">
        <%= link_to 'Action Needed', lockbox_partner_path(@lockbox_partner) %>
      </div>
      <div class="secondary-tab">
        <%= link_to 'All Activity', lockbox_partner_path(@lockbox_partner) %>
      </div>
    <% end %>
  </div>
</div>
