<!DOCTYPE html>
<html>
  <head>
    <title>LockboxRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container" id="errors">
      <% flash.each do |key, value| %>
        <%= render partial: 'shared/error', locals: { key: key, value: value } %>
      <% end %>
    </div>
    <div class="container main-content">
      <%= yield %>
    </div>
  </body>
</html>
