<!DOCTYPE html>
<html>
  <head>
    <title>LockboxRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <body>
    <div class="devise">
      <div class="devise-form container">
        <div id="errors">
          <% flash.each do |key, value| %>
            <% # Only display Devise flash messages that are intended to be displayed, and not those used internally by Devise  %>
            <% # See https://github.com/plataformatec/devise#configuring-controllers %>
            <% if ["alert", "notice"].include?(key) %>
              <%= render partial: 'shared/error', locals: { key: key, value: value } %>
            <% end %>
          <% end %>
        </div>
        <%= yield %>
        <a id="sqreen-badge" title="Realtime application protection" href="https://www.sqreen.com/?utm_source=badge"><img style="width:109px;height:36px" src="https://s3-eu-west-1.amazonaws.com/sqreen-assets/badges/20171107/sqreen-light-badge.svg" alt="Sqreen | Runtime Application Protection" /></a>
      </div>
    </div>
  </body>
</html>
