<div class="support-request-header">
  <h3>Support Request for <%= @support_request.name_or_alias %> <span class="float-right"><%= @support_request.status %></span></h3>
  <%= render partial: 'flag', locals: { support_request: @support_request } %>
</div>
<div class="row">
  <div class="col-3">
    <strong>Pickup Date</strong>
    <p><%= @support_request&.pickup_date %></p>
  </div>
  <div class="col-3">
    <strong>Amount</strong>
    <p>$<%= @support_request&.amount %></p>
  </div>
  <div class="col-3">
    <strong>Amount Breakdown</strong>
    <% @support_request.lockbox_action.breakdown.each do |item| %>
      <div><%= item[:amount] %> for <%= item[:category] %></div>
    <% end %>
  </div>
  <div class="col-3">
    <strong>Client ID</strong>
    <div><%= @support_request&.client_ref_id %></div>
  </div>
</div>
