<div class="support-request-header">
  <p><b><%= @support_request.pickup_date %> - <%= @support_request.name_or_alias %> - <%= @support_request&.client_ref_id %></b></p>
  <%= render partial: 'status_dropdown', locals: { support_request: @support_request, label: false } %>
  <h3>Support Request:  $<%= @support_request.amount %></h3>
  <%= render partial: 'flag', locals: { support_request: @support_request } %>
</div>
