<div class="<%= 'nested-fields row' + (f.object.category == 'gas' ? ' mileage-row' : '') %>">
  <div class="field form-group col" >
    <%= f.label :category, 'Support Type' %>
    <%= f.select :category, options_for_select(expense_category_select_options, selected: f.object.category), { include_blank: true }, { class: 'form-control', required: true } %>
  </div>
  <div class="field form-group col-3 distance-field" style="<%= "#{'display: none' unless f.object.category == 'gas'}" %>">
    <%= f.label :distance, "Mileage" %>
    <%= f.text_field :distance, type: 'number', class: 'form-control' %>
  </div>
  <div class="field form-group col-3 amount-field" >
    <%= f.label :amount, 'data-toggle':"tooltip", 'data-placement':"top", title:"The IRS reimbursement rate is $0.20 per mile" %>
    <%= f.text_field :amount, type: 'number', step: "0.01", class: 'form-control', readonly: f.object.category == 'gas' %>
  </div>
  <%= link_to_remove_association "X", f %>
</div>
