<div class="pending-request">
  <div class="header">
    <div class="content">
      <div class="float-right">
        <p>Update Status</p>
        <a class="btn btn-primary btn-large"><%= support_request.status %> <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
      <p><b><%= support_request.pickup_date %> - <%= support_request.name_or_alias %></b></p>
      <h3>Support Request:  $<%= support_request.amount %></h3>
    </div>
  </div>
  <div class="notes">
    <div class="content">
      <div class="row">
        <div class="col-sm-3">
          <%= support_request.most_recent_note&.created_at %>
        </div>
        <div class="col-sm-3">
          <%= support_request.most_recent_note&.author %>
        </div>
        <div class="col-sm-6">
          <%= support_request.most_recent_note&.text %>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <%= link_to lockbox_partner_support_request_path(support_request.lockbox_action, support_request) do %>
      View all notes <i class="fa fa-chevron-down" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
