<div class="container">
  <%= render partial: 'lockbox_partners/header', locals: { lockbox_partner: @lockbox_partner } %>
  <div class="support-request-container">
    <% if current_user.admin? %>
      <%= render partial: 'details_admin', locals: { support_request: @support_request } %>
      <%= link_to 'Edit Support Request', 'TODO', class: 'btn btn-primary' %>
      <%= link_to 'Add Note', '#', class: 'btn btn-secondary', id: 'new-note' %>
    <% else %>
      <%= render partial: 'details_partner', locals: { support_request: @support_request } %>
      <%= link_to 'Add Note', '#', class: 'btn btn-primary', id: 'new-note' %>
    <% end %>

    <%= render partial: 'lockbox_partners/notes/notes', locals: { notable: @support_request } %>

    <div class="support-request-nav">
      TODO MAKE THIS NAV - https://github.com/MidwestAccessCoalition/lockbox_rails/issues/121
    </div>
  </div>
</div>
